<form action="/api/create-post" method="POST" enctype="multipart/form-data">
    <p>Title: </p>
    <label for=""></label><input type="text" name="title" id="">
    <p>Content: </p>
    <label>
        <textarea name="content"></textarea>
    </label>
    <p>Image: </p>
    <input type="file" name="photo">
    <hr>
    <button type="submit">Register post</button>
</form>
